@use "sass:color";
@import "variables";

// @mixin seems to make parcel crash

.social-btn {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    display: inline-flex;
    padding: 12px;
    position: relative;
    font-size: 24px;
    align-items: center;
    border-color: rgba(0, 0, 0, 0.12);

    &-facebook {
        &:after {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 0;
            transform: scale(0);
            position: absolute;
            transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
            border-radius: 40px;
            background-color: color.scale(#3b5998, $alpha: -85%);
        }

        &:hover {
            color: #3b5998;

            &:after {
                transform: scale(1)
            }
        }
    }

    &-twitter {
        &:after {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 0;
            transform: scale(0);
            position: absolute;
            transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
            border-radius: 40px;
            background-color: color.scale(#1DA1F2, $alpha: -85%);
        }

        &:hover {
            color: #1DA1F2;

            &:after {
                transform: scale(1)
            }
        }
    }

    &-instagram {
        &:after {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 0;
            transform: scale(0);
            position: absolute;
            transition: 0.3s cubic-bezier(.47,1.64,.41,.8);
            border-radius: 40px;
            background-color: color.scale(#8a3ab9	, $alpha: -85%);
        }

        &:hover {
            color: #8a3ab9;

            &:after {
                transform: scale(1)
            }
        }
    }

}

