<!-- Footer template -->
<footer class="site-footer">
    <div class="container container-lg">
        <hr class="divider site-footer-divider" />
    </div>
    <div class="site-footer-bottom">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-sm-6 col-xs-12 text-center text-sm-start">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a class="site-footer-bottom-link" href="../views/terms.html">Terms & condition</a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <a class="site-footer-bottom-link" href="../views/privacy.html">Privacy policy</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="m-0 color-text-secondary text-center text-lg-end">@ 2021 Bearwood online</p>
                </div>
            </div>
        </div>
    </div>
</footer>
