<nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-4">
    <div class="container px-4">
        <a class="navbar-brand" href="./index.html">
            <img src="../assets/images/Logo_yellow.png" class="img-fluid" style="width: 50px;height: 50px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-auto">
                <li class="nav-item px-4">
                    <a class="nav-link" href="./contact.html">Contact</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link" href="./about.html">About us</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <div class="d-grid gap-2 d-flex mb-4 mb-lg-3">
                    <a class="social-btn" rel="noopener" target="_blank" href="https://www.facebook.com/Bearwood-Online-100143878837955">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="social-btn" rel="noopener" target="_blank" href="https://twitter.com/BearwoodOnline">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-btn" rel="noopener" target="_blank" href="https://www.instagram.com/bearwoodonline/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
