<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bearwood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/index.scss" />
    <link rel="stylesheet" href="../assets/css/views/contact-styles.scss" />
</head>
<body>
<main class="page-container">
    <!-- Navigation -->
    <include src="src/template/navigation.html"></include>
    <!--end of Navigation bar-->


    <section class="section-slice position-relative flex-grow-1">
        <div class="container px-3 px-sm-5 py-24 mx-auto row flex-sm-wrap flex-wrap">
            <div class="col-sm-12 col-lg-8 col-md-6 d-flex align-items-end justify-content-start position-relative p-5 flex-column">
                <div class="bg-white position-relative row rounded shadow py-3 d-none d-sm-flex w-100 mb-3">
                    <div class="col-lg-6 px-3">
                        <h6>Opening hours</h6>
                        <p class="color-text-secondary text-caption">
                            Monday: 9am - 10pm
                        </p>
                        <p class="color-text-secondary text-caption">
                            Tuesday: 9am - 10pm
                        </p>
                        <p class="color-text-secondary text-caption">
                            Wednesday: 9am - 10pm
                        </p>
                        <p class="color-text-secondary text-caption">
                            Thursday: 9am - 10pm
                        </p>
                        <p class="color-text-secondary text-caption">
                            Friday: 9am - 10pm
                        </p>
                        <p class="color-text-secondary text-caption">
                            Weekend: 9am - 10pm
                        </p>
                    </div>
                    <div class="col-lg-6 mt-lg-0 px-4 mt-4">
                        <img class="img-fluid" src="../assets/images/undraw_map_1r69.svg" alt="" />
                    </div>
                </div>
                <div class="bg-white position-relative row rounded shadow py-3 d-none d-sm-flex w-100">

                    <div class="col-lg-6 px-3">
                        <h6>ADDRESS</h6>
                        <p class="color-text-secondary text-caption">
                            2912 Bearwood Road, Birmingham City, B66 321
                        </p>
                    </div>
                    <div class="col-lg-6 mt-lg-0 px-4 mt-4">
                        <h6 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h6>
                        <a class="color-text-secondary text-caption">bearwoodbusin@hotmail.com</a>
                        <h6 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h6>
                        <p class="color-text-secondary text-caption">310-386-1623</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-6 row ps-0 ps-sm-5">
                <div class="bg-white rounded w-100 p-4 d-flex flex-column shadow">
                    <h3 class="mt-2">Contact us</h3>
                    <p class="color-text-secondary">Write below your details</p>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" style="resize: none" id="message" rows="5"></textarea>
                    </div>
                    <button class="btn btn-neutral-primary btn-contained-hover px-2">Submit</button>
                    <p class="color-text-secondary text-caption mt-2 mb-0">
                        By submitting this form you accept the <a target="_blank" rel="noreferrer noopener" href="terms.html">terms & conditions</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="flex-shrink-0">
        <!-- Footer -->
        <include src="src/template/footer.html"></include>
        <!--end of Footer -->
    </div>
</main>
<script src="../index.js"></script>
</body>
</html>
