<!DOCTYPE html>
<html lang="en">
    <head>
        <include src="src/template/head.html"></include>
        <link rel="stylesheet" href="../assets/css/views/shops-styles.scss" />
    </head>
    <body>
        <main class="h-100 d-flex flex-column">
            <!-- Navigation -->
            <include src="src/template/navigation.html"></include>
            <!--end of Navigation bar-->

            <div class="container w-100 flex-grow-1">
                <div class="pt-5 text-center">
                    <h1 class="h1 fw-bold text-primary">Bearwood online</h1>
                    <p class="color-text-secondary">Find the location of shops in Bearwood</p>
                </div>
                <form class="row pt-3" id="search-form">
                    <div class="col-md-10 col-9">
                        <div class="input-group input-group-lg">
                            <input id="search-form-input" type="text" class="form-control rounded" placeholder="Search" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-2 col-3 text-start ps-0 flex-shrink-1">
                        <button type="submit" class="btn btn-primary text-white w-100 mb-0 h-100">Search</button>
                    </div>
                </form>
                <div class="row g-4 pt-4 pb-4" id="shops">

                </div>
            </div>
            <div class="flex-shrink-0">
                <!-- Footer -->
                <include src="src/template/footer.html"></include>
                <!--end of Footer -->
            </div>
        </main>
        <script src="../index.js"></script>
        <script src="../scripts/shops.ts"></script>
        <script src="../scripts/search.ts"></script>
    </body>
</html>
