<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bearwood</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="../assets/css/index.scss" />
        <link rel="stylesheet" href="../assets/css/views/home-styles.scss" />
    </head>
    <body>
        <main class="page-container">
            <!-- Navigation -->
            <include src="src/template/navigation.html"></include>
            <!--end of Navigation bar-->

            <div class="w-100 flex-grow-1">
                <div class="search-container">
                    <div class="row flex-column">
                        <div class="row gx-2 justify-content-sm-between flex-shrink-0">
                            <div class="col-sm-12 col-md-6 order-last order-md-first">
                                <div class="row">
                                    <h1 class="display-4 text-primary">Just click it & Find it</h1>
                                    <p class="h5" style="color: #718096">
                                        Orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla eros tortor, sit amet auctor lacus tempus consequat. Donec in imperdiet lorem.
                                        Vivamus sagittis scelerisque feugiat.
                                        Morbi id tortor a purus pulvinar laoreet.
                                    </p>
                                    <div class="d-flex flex-row mt-2">
                                        <a class="social-btn" href="#"><i class="fab fa-facebook"></i></a>
                                        <a class="social-btn" href="#"><i class="fab fa-twitter"></i></a>
                                        <a class="social-btn" href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 order-first order-md-last">
                                <img class="img-fluid" alt="..." src="../assets/images/undraw_Camping_y4an.svg" width="auto" height="auto">
                            </div>
                        </div>
                        <form class="row pt-5" id="search-form">
                            <div class="col-md-10 col-9">
                                <div class="input-group input-group-lg">
                                    <input id="search-form-input" type="text" autocomplete="off" class="form-control rounded" placeholder="Search">
                                </div>
                            </div>
                            <div class="col-md-2 col-3 text-start ps-0 flex-shrink-1">
                                <button type="submit" class="btn btn-primary text-white w-100 mb-0 h-100">Search</button>
                            </div>
                        </form>
                        <div class="p-4 w-100">
                            <span class="badge rounded-pill bg-primary fw-light">Barber shops</span>
                            <span class="badge rounded-pill bg-primary fw-light">Cafes</span>
                            <span class="badge rounded-pill bg-primary fw-light">SuperMarkets</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-shrink-0">
                <!-- Footer -->
                <include src="src/template/footer.html"></include>
                <!--end of Footer -->
            </div>
        </main>
        <script src="../index.js"></script>
        <script src="../scripts/search.ts"></script>
    </body>
</html>
