<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bearwood</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/index.scss" />
</head>
    <body>
        <main class="page-container">
            <!-- Navigation -->
            <include src="src/template/navigation.html"></include>
            <!--end of Navigation bar-->

            <section class="container mt-5 w-100 flex-grow-1">
                <div class="mb-5 px-3">
                    <h3>Terms & condition</h3>
                    <p class="text-body text-muted">
                        Revision date: 04/06/2021
                    </p>
                    <h6 class="text-uppercase text-black-50">BEARWOOD online</h6>
                </div>
            </section>

            <div class="flex-shrink-0">
                <!-- Footer -->
                <include src="src/template/footer.html"></include>
                <!--end of Footer -->
            </div>
        </main>
        <script src="../index.js"></script>
    </body>
</html>
