<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bethel new life</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/index.scss" />
    <link rel="stylesheet" href="../assets/css/views/home-styles.scss" />
</head>
    <body>
        <main class="page-container">
            <!-- Navigation -->
            <include src="src/template/navigation.html"></include>
            <!--end of Navigation bar-->

            <div class="flex-shrink-0">
                <!-- Footer -->
                <include src="src/template/footer.html"></include>
                <!--end of Footer -->
            </div>
        </main>
        <script src="../index.js"></script>
    </body>
</html>
